footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "logo social-media"
        "nav copyright";
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer-item {
        display: flex;
        align-items: center;
    }

    .logo-container {
        grid-area: logo;
    }

    .social-media, .copyright {
        justify-content: end;
    }

    .social-media {
        grid-area: social-media;
        gap: 15px;

        img {
            cursor: pointer;
        }
    }

    .footer-nav {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 20px;

        div {
            cursor: pointer;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;

            &:hover {
                border-bottom-color: white;
            }
        }
    }

    .copyright {
        grid-area: copyright;
        color: gray;
    }
}

@media all and (max-width: 800px) {
    footer {
        @include flexCenter(column);

        .footer-nav {
            @include flexCenter(column);
            padding: 20px 0;
        }
    }
}