header {
    background: url("../images/desktop/image-hero.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    row-gap: 100px;

    .nav, .immersive-experiences {
        @include flexCenter(row);
    }

    .nav {
        gap: 20px;

        div {
            padding: 10px;
            border-radius: 10px;

            &:hover {
                background-color: white;
                color: black;
                cursor: pointer;
            }
        }
    }

    .immersive-experiences {
        border: 3px solid white;
        font-size: 60px;
        padding: 20px;

    }
}