header {
    background: url("../images/desktop/image-hero.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;

    .logo-nav-container {
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;

        .hamburger {
            display: none;
        }

        .nav {
            @include flexCenter(row);
            gap: 20px;
    
            div {
                padding-bottom: 5px;
                border-bottom: 3px solid transparent;
    
                &:hover {
                    border-bottom-color: white;
                    cursor: pointer;
                }
            }
        }
    
    }

    .immersive-experiences {
        @include flexCenter(row);
        border: 3px solid white;
        font-size: 55px;
        font-family: "Josefin Sans Light";
        padding: 20px;
        grid-column: 1 / 2;
    }
}

@media all and (max-width: 700px) {
    header {
        .logo-nav-container {
            .nav {
                display: none;
            }
    
            .hamburger {
                @include flexCenter(row);
                cursor: pointer;
            }
        }

        .immersive-experiences {
            grid-column: 1 / 3;
            font-size: 40px;
        }
    }
}

@media all and (max-width: 500px) {
    header {
        .immersive-experiences {
            font-size: 25px;
        }
    }
}