@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

* {
  font-family: "Josefin Sans";
}

body {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 10fr 1fr;
      grid-template-rows: 3fr 10fr 1fr;
}

body .body-element {
  padding-left: 100px;
  padding-right: 100px;
}

body header {
  background: url("../images/desktop/image-hero.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
  row-gap: 100px;
}

body header .mobile-nav {
  display: none;
}

body header .nav, body header .immersive-experiences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .nav {
  gap: 20px;
}

body header .nav div {
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

body header .nav div:hover {
  border-bottom-color: white;
  cursor: pointer;
}

body header .immersive-experiences {
  border: 3px solid white;
  font-size: 60px;
  padding: 20px;
}

body main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  row-gap: 100px;
  padding: 100px;
}

body main h2, body main p {
  margin: 0;
}

body main h2 {
  font-size: 40px;
  color: #646464;
}

body main .interactive-container {
  display: -ms-grid;
  display: grid;
}

body main .interactive-container .image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

body main .interactive-container .text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-color: white;
  padding: 80px 0 0 80px;
}

body main .interactive-container .text p {
  color: gray;
  font-size: 15px;
  padding-top: 20px;
}

body main .creations-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title button" "gridc gridc";
  -ms-grid-columns: 8fr 2fr;
      grid-template-columns: 8fr 2fr;
  -ms-grid-rows: 1fr 13fr;
      grid-template-rows: 1fr 13fr;
  row-gap: 30px;
}

body main .creations-container .title-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .creations-container .button-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .creations-container .button-container button {
  cursor: pointer;
  border: 2px solid #646464;
  color: #646464;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 8px 25px;
}

body main .creations-container .button-container button:hover {
  color: white;
  background-color: #646464;
}

body main .creations-container .grid-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: gridc;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
}

body main .creations-container .grid-container .grid-item {
  display: -ms-grid;
  display: grid;
}

body main .creations-container .grid-container .grid-item .mobile-image {
  display: none;
}

body main .creations-container .grid-container .grid-item .image {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

body main .creations-container .grid-container .grid-item .image-description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: white;
  font-size: 35px;
  padding-left: 30px;
  padding-bottom: 30px;
}

body footer {
  background-color: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

body footer .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footer-logos, body footer .copyright {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body footer .footer-logos {
  gap: 15px;
}

body footer .footer-logos img {
  cursor: pointer;
}

body footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

body footer .footer-nav div {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

body footer .footer-nav div:hover {
  border-bottom-color: white;
}

body footer .copyright {
  color: gray;
}
/*# sourceMappingURL=style.css.map */