@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Josefin Sans Light";
    src: url("../fonts/Josefin_Sans/static/JosefinSans-Light.ttf");
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Josefin Sans";
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    .body-element {
        padding-left: 100px;
        padding-right: 100px;
    }

    @import "sass-components/header";
    @import "sass-components/main";
    @import "sass-components/footer";
}

@media all and (max-width: 1000px) {
    body {
        .body-element {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

@media all and (max-width: 600px) {
    body {
        .body-element {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}