@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf")
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Josefin Sans";
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 3fr 10fr 1fr;

    .body-element {
        padding-left: 100px;
        padding-right: 100px;
    }

    @import "sass-components/header";
    @import "sass-components/main";
    @import "sass-components/footer";
}